<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<style type="text/css">
body {
	background-color: #eee;
}
</style>

</head>
<body>



	<section>
		<div class="container py-2">
			<div class="row">
				<div class="col-3" th:each="b: ${book}">
					<div class="card text-black mb-2">
						<div class="text-center mt-2">

							<a th:href="@{/admin/book_details/{id}(id=${b.book_id})}"> <img
								class="" th:if="${b.photos != null}" style="max-width: 50%"
								alt="image" th:src="${'/showImage/' +b.photos}"> <img
								alt="not found" th:if="${b.photos == null}"
								th:src="${'/showImage/images.png'}">
							</a>

						</div>
						<div class="card-body">
							<div class="text-center">
								<h5 class="card-title" th:text="${b.book_name}"></h5>
								<span class="text-muted mb-4" th:each="auth:${b.authors}">
									<p th:text="${auth.authorName}"></p>
								</span>
								<a class="btn btn-sm btn-success">Given Book</a>
								<a class="btn btn-sm btn-success">Return Book</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



</body>
</html>