<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<style type="text/css">
body {
	background-color: #eee;
}
</style>

</head>
<body>



	<section>
		<div class="container py-2">
			<div class="row">
				<div class="col-3" th:each="b: ${book}">
					<div class="card text-black mb-2">
						<div class="">
							<img class="w-100" alt="image" src="${b.photos}"> 
							<a href="#!">
								<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
							</a>
						</div>
						<div class="card-body">
							<div class="text-center">
								<h5 class="card-title" th:text="${b.book_name}"></h5>
								<span class="text-muted mb-4" th:each="auth:${b.authors}">
									<p th:text="${auth.authorName}"></p>
								</span> <a class="btn btn-sm btn-success">Request Book</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



</body>
</html>