<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
	integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
input.input-group-append {
	cursor: pointer;
}
</style>

</head>
<body>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="row" th:each="b: ${books}">
								<div class="col-md-4">
									<div>
										<img alt="" th:src="${'/showImage/' + b.photos}"
											style="width: 250px">
									</div>
								</div>
								<div class="col-md-8">

									<h2 th:text="${b.book_name}"></h2>
									<small th:text="${b.description}"></small>
									<div class="row">
										<div class="col-md-4">
											<p>by</p>
										</div>
										<div class="col-md-8" th:each="auth: ${b.authors}">
											<small class="text-sm" th:text="${auth.authorName}"></small>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<p>category:</p>
										</div>
										<div class="col-md-8" th:each="cate: ${b.categories}">
											<small th:text="${cate.category_name}"></small>
										</div>
									</div>
								<!-- 	<form th:action="@{/admin/book_details_save}" method="post">

										<div class="row form-group mt-1">
											<span class="col-md-4 form-label">Book Movement
												Status: </span>
											<div class="col-md-8">
												<select class="form-control" style="cursor: pointer;"
													name="book_movement_status">
													<option
														th:each="status: ${T(com.library.enums.BookMovementStatus).values()}"
														th:value="${status}" th:text="${status}"></option>
												</select>
											</div>
										</div>

										<div class="row form-group mt-1">
											<span class="col-md-4">Request To Date: </span>
											<div class="col-md-8">
												<input class="form-control input-group-append" type="date"
													name="book_given_date" style="cursor: pointer" />
											</div>
										</div>
										<div class="row form-group mt-1">
											<span class="col-md-4">Request From Date: </span>
											<div class="col-md-8">
												<input class="form-control input-group-append" type="date"
													name="book_return_date" style="cursor: pointer" />
											</div>
										</div>

										<div class="text-end mt-3">
											<a type="submit"  th:href="@{/admin/customer_info}" class="btn btn-success btn-sm">Request
												Book</a>
										</div>
									</form>
								 -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>


</body>
</html>