<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="webjars/bootstrap/5.2.3/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>

	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand">Library Management</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Authors</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Books</a></li>
						<li class="nav-item d-flex"><a class="nav-link" href="signin">Login</a></li>
						<li class="nav-item"><a class="nav-link" href="addUser">Register</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

</body>
</html>